.crystal {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.crystalImages {
    align-items: center;
    justify-content: space-around;
    display: flex;
}






footer {
    height: 40px;
    width: 100%;
    bottom: 0;
    padding: 30px 0;
    font-size: 14px;
    color: black;
    text-align: center;
    background: #ddd;
    position: absolute;
}