body {
    background-image: url("../images/light-veneer.png.png");
}

h1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 50px;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    background-color: rgba(216, 128, 93, 0.603);
    
}

#instructions {
    font-weight: bold;
    width: 100%;
    max-width: 960px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(216, 128, 93, 0.603);
    color: black;
}

#goal {
    width: 150px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white; 
}

#previousNumber {
    width: 150px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: teal;
    color: white;
}

#win {
    width: 150px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: teal;
    color: white;
}

#loss {
    width: 150px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: teal;
    color: white;
}

.crystal {
    width: 175px;
    height: 175px;
    background-color: black;
}

.crystalImages {
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-right: 250px;
    margin-left: 250px;
}

footer {
    height: 30px;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    color: black;
    text-align: center;
    background: rgba(216, 128, 93, 0.603);
    position: absolute;
    font-weight: bold
}